
<br>
<h1 *ngIf="!this.onPersonnal"> Agenda général </h1>
<h1 *ngIf="authService.currentAuthUserValue.isLogged() && this.onPersonnal"> Agenda personnel </h1>

<div class="btn btn-success" routerLink="/seances/{{true}}" *ngIf="authService.currentAuthUserValue.isLogged() && !this.onPersonnal">Afficher uniquement mes séances</div>
<div class="btn btn-success" routerLink="/seances" *ngIf="authService.currentAuthUserValue.isLogged() && this.onPersonnal">Afficher toutes les séances</div>

<br><br>


<div *ngIf="etatLoad === etatLoading.SUCCESS">
  <table class="planning-table">
    <thead>
      <tr>
        <th>Heures</th>
        <th *ngFor="let jour of daysOfWeek">
          {{ jour }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of [6, 8, 10, 12, 14, 16, 18, 20, 22]">
        <td>{{ hour }}h</td>
        <td *ngFor="let jour of daysOfWeek">
          <div *ngFor="let seance of planningSeances[jour]">
            <div class="seance text-black"
            [ngClass]="{
              'full': isFull(seance),
              'open': !isFull(seance),
              'sub': isSubscribed(seance)
            }"
              *ngIf="seance.date_heure.getHours() >= hour && seance.date_heure.getHours() < hour + 2" routerLink="/seance/{{seance.id}}">

              <span>
                {{seance.date_heure.getHours()}}h<span *ngIf="seance.date_heure.getMinutes() < 10 ">0</span>{{seance.date_heure.getMinutes()}}
                <br>
                {{ seance.theme_seance }} ({{ seance.niveau_seance }})
              </span>
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<!-- Affichage si l'état de chargement est en erreur -->
<div *ngIf="etatLoad === etatLoading.ERREUR">
  <p>Erreur de chargement des séances.</p>
</div>

<div *ngIf="etatLoad === etatLoading.WAITING">
  <p>Aucune séance à venir</p>
</div>

<!-- Affichage si l'état de chargement est en cours -->
<div *ngIf="etatLoad === etatLoading.LOADING">
  <p>Chargement en cours...</p>
</div>
