<div *ngIf="etatLoad === etatLoading.SUCCESS">
  <table class="planning-table">
    <thead>
      <tr>
        <th>Heures</th>
        <th *ngFor="let jour of daysOfWeek">
          {{ jour }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of [6, 9, 12, 15 , 18 , 21  ]"> <!-- Heures de 8h à 20h -->
        <td>{{ hour }}h</td>
        <td *ngFor="let jour of daysOfWeek">
          <div *ngFor="let seance of planningSeances[jour]">
            <span *ngIf="seance.date_heure.getHours() === hour">
              {{ seance.theme_seance }} ({{ seance.niveau_seance }})
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Affichage si l'état de chargement est en erreur -->
<div *ngIf="etatLoad === etatLoading.ERREUR">
  <p>Erreur de chargement des séances.</p>
</div>

<!-- Affichage si l'état de chargement est en cours -->
<div *ngIf="etatLoad === etatLoading.LOADING">
  <p>Chargement en cours...</p>
</div>
