.planning-table {
  width: 100%;
  border-collapse: collapse;
}

.planning-table th, .planning-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.planning-table th {
  background-color: #f4f4f4;
}

.planning-table td div {
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
  font-size: 0.9em;
}

.full {
  background-color: rgba(168, 18, 18, 0.573);
}

.open {
  background-color: rgba(18, 121, 168, 0.373);
}

.seance {
  font-weight: 900;
  border: 3px solid transparent;
  cursor: pointer;
}


.seance:hover {
  border: 3px solid rgba(18, 121, 168, 0.573);
}

