<div class="card text-black bg-light mb-3" style="max-width: 70vw;">
  <div class="card-header lead text-bg-dark m-3 mb-0">
    Séance
    <span *ngIf="etatLoadSeance == etatLoading.SUCCESS"> {{ seance.theme_seance}} - niveau {{seance.niveau_seance}}
    </span>
    <span *ngIf="etatLoadSeance == etatLoading.LOADING"> <i class="fa-solid fa-spinner fa-spin-pulse"></i> </span>
    <span *ngIf="etatLoadSeance == etatLoading.ERREUR"> introuvable </span>



  </div>
  <div class="card-body m-3 mt-2">
    <h4 class="card-title">Séance </h4>
    <div class="card-text " style="padding-left: 3rem;">

      <strong> Type :
      </strong>
      <span *ngIf="etatLoadSeance == etatLoading.LOADING">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
      </span>
      <span *ngIf="etatLoadSeance == etatLoading.SUCCESS">
        {{seance.type_seance}}
      </span>
      <br>

      <strong> Statut :
      </strong>
      <span *ngIf="etatLoadSeance == etatLoading.LOADING">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
      </span>
      <span *ngIf="etatLoadSeance == etatLoading.SUCCESS">
        {{seance.statut}}
      </span>
      <br>

      <strong> Durée :
      </strong>
      <span *ngIf="etatLoadSeance == etatLoading.LOADING">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
      </span>
      <span *ngIf="etatLoadSeance == etatLoading.SUCCESS">
        {{dureeTotal}}mins
      </span>
      <br>





      <strong> Coach :
      </strong>
      <span *ngIf="etatLoad == etatLoading.LOADING">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
      </span>
      <span *ngIf="etatLoad == etatLoading.SUCCESS">
        {{coach.nom}} {{coach.prenom}}
      </span>


      <p class="card-title"> <strong>Particpants : </strong>
        <span *ngIf="etatLoad == etatLoading.SUCCESS"> {{ seance.sportifs.length }} </span>
        <span *ngIf="etatLoad == etatLoading.LOADING"> <i class="fa-solid fa-spinner fa-spin-pulse"></i> </span>
      </p>

      <strong> Theme :
      </strong>
      <span *ngIf="etatLoadSeance == etatLoading.LOADING">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
      </span>
      <span *ngIf="etatLoadSeance == etatLoading.SUCCESS">
        {{seance.theme_seance}}
      </span>
    </div>

    <br>

    <h4 class="card-title">Exercices</h4>

    <div class="card-text">
      <ul class="list-unstyled">
        <li class="cursor" routerLink="/exercice/{{exercice.id}}" *ngFor="let exercice of seance.exercices">
          {{exercice.nom }} - {{ exercice.difficulte}} (
          {{exercice.duree_estimee}}min )
        </li>
      </ul>


    </div>


  </div>
  <br>





  <div class="card-body m-3 mt-2" *ngIf="etatLoadSeance == etatLoading.ERREUR">
    <h4 class="card-title">Aucune seance ne correspond </h4>
    <div class="card-text " style="padding-left: 3rem;">
      <strong>
        Que faire ?
      </strong>
      <br>

      <ul>
        <li>Vérifier si la séance existe dans <a routerLink="/seances" class="link-green"> liste des séances</a> </li>
        <li>Contacter le service d'assistance en ligne </li>
        <li>Contacter via téléphone un complexe sportif concerné </li>

        <br>

        <a routerLink="/" class="btn btn-outline-primary btn-sm">retourner a l'accueil</a>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <div *ngIf="etatLoad == etatLoading.SUCCESS">
      <a *ngIf="isFull() && !authService.currentAuthUserValue.isLogged()  " class="btn btn-info">Aucune place
        disponible</a>
      <a *ngIf="!isFull()  && !authService.currentAuthUserValue.isLogged()  " class="btn btn-info">Place disponible ( connection requise ) </a>
    </div>


    <div *ngIf="!isFull() && authService.currentAuthUserValue.isLogged() && !isSubscribed()">
      <a class="btn btn-info" (click)="join()">Rejoindre la séance</a>

    </div>

    <div *ngIf="isFull() && authService.currentAuthUserValue.isLogged()">
      <a class="btn btn-info disabled" >Séance deja pleine</a>

    </div>

    <div *ngIf="authService.currentAuthUserValue.isLogged() && isSubscribed()">
      <a class="btn btn-warning" (click)="leave()">Quitter la séance</a>

    </div>

  </div>


</div>
