<div class="card text-black bg-light mb-3" style="max-width: 70vw;">
  <div class="card-header lead text-bg-dark m-3 mb-0">

    <span *ngIf="etatLoad == etatLoading.SUCCESS">séance {{ seance.theme_seance}} </span>
    <span *ngIf="etatLoad == etatLoading.ERREUR">séance introuvable </span>



  </div>
  <div class="card-body m-3 mt-2" *ngIf="etatLoad == etatLoading.SUCCESS">
    <h4 class="card-title">Coach  {{ seance.coachId}}</h4>
    <div class="card-text " style="padding-left: 3rem;">
      <strong>
      {{coach.nom}} {{coach.prenom}}   </strong>
      <br> <br>



    </div>
    <br>
    <h4 class="card-title">Particpants : <span class="badge bg-primary"> {{ seance.exercices.length }} </span> </h4>

  </div>
  <div class="card-body m-3 mt-2" *ngIf="etatLoad == etatLoading.ERREUR">
    <h4 class="card-title">Aucune seance ne correspond </h4>
    <div class="card-text " style="padding-left: 3rem;">
      <strong>
        Que faire ?
      </strong>
      <br>

      <ul>
        <li>Vérifier si la séance existe dans <a routerLink="/seances" class="link-green"> liste des séances</a> </li>
        <li>Contacter le service d'assistance en ligne </li>
        <li>Contacter via téléphone un complexe sportif concerné </li>

        <br>

        <a routerLink="/" class="btn btn-outline-primary btn-sm">retourner a l'accueil</a>
      </ul>
    </div>
  </div>

</div>
