<p>POC coaching </p>

<div class="flex">


  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>

  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
</div>

<div class="flex">


  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>

  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
</div>


<div class="flex">


  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>


  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
  <div class="ricardo"></div>
</div>

