<h2>

  Liste des utilisateurs
  <span *ngIf="etatLoad == etatLoading.LOADING || etatLoad == etatLoading.WAITING ">
    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </span>

</h2>
<ul class="list-group" *ngIf="etatLoad == etatLoading.SUCCESS || etatLoad == etatLoading.WAITING ">
  <li class="list-group-item" *ngFor="let utilisateur of utilisateurs">
    {{ utilisateur.nom }} ( {{ utilisateur.prenom }} ) - ({{ utilisateur.type }})
  </li>
</ul>


<div class="alert alert-dismissible alert-warning" *ngIf="etatLoad == etatLoading.ERREUR">
  <h4 class="alert-heading">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Service non disponible
  </h4>
</div>
